.bingo-image{
    position: absolute;
}

.bingo-no1{
    position: absolute;
    top: 104px;
    left: 29px;
    background-color: #addab7;
}
.bingo-no2{
    position: absolute;
    top: 157px;
    left: 29px;
    background-color: #addab7;
}
.bingo-no3{
    position: absolute;
    top: 211px;
    left: 29px;
    background-color: #addab7;
}
.bingo-no4{
    position: absolute;
    top: 265px;
    left: 29px;
    background-color: #addab7;
}
.bingo-no5{
    position: absolute;
    top: 319px;
    left: 29px;
    background-color: #addab7;
}
.bingo-no6{
    position: absolute;
    top: 104px;
    left: 82px;
    background-color: #addab7;
}
.bingo-no7{
    position: absolute;
    top: 157px;
    left: 82px;
    background-color: #addab7;
}
.bingo-no8{
    position: absolute;
    top: 211px;
    left: 82px;
    background-color: #addab7;
}
.bingo-no9{
    position: absolute;
    top: 265px;
    left: 82px;
    background-color: #addab7;
}
.bingo-no10{
    position: absolute;
    top: 319px;
    left: 82px;
    background-color: #addab7;
}
.bingo-no11{
    position: absolute;
    top: 104px;
    left: 135px;
    background-color: #addab7;
}
.bingo-no12{
    position: absolute;
    top: 157px;
    left: 135px;
    background-color: #addab7;
}
.bingo-no13{
    position: absolute;
    top: 265px;
    left: 135px;
    background-color: #addab7;
}
.bingo-no14{
    position: absolute;
    top: 319px;
    left: 135px;
    background-color: #addab7;
}
.bingo-no15{
    position: absolute;
    top: 104px;
    left: 189px;
    background-color: #addab7;
}
.bingo-no16{
    position: absolute;
    top: 157px;
    left: 189px;
    background-color: #addab7;
}
.bingo-no17{
    position: absolute;
    top: 211px;
    left: 189px;
    background-color: #addab7;
}
.bingo-no18{
    position: absolute;
    top: 265px;
    left: 189px;
    background-color: #addab7;
}
.bingo-no19{
    position: absolute;
    top: 319px;
    left: 189px;
    background-color: #addab7;
}
.bingo-no20{
    position: absolute;
    top: 104px;
    left: 242px;
    background-color: #addab7;
}
.bingo-no21{
    position: absolute;
    top: 157px;
    left: 242px;
    background-color: #addab7;
}
.bingo-no22{
    position: absolute;
    top: 211px;
    left: 242px;
    background-color: #addab7;
}
.bingo-no23{
    position: absolute;
    top: 265px;
    left: 242px;
    background-color: #addab7;
}
.bingo-no24{
    position: absolute;
    top: 319px;
    left: 242px;
    background-color: #addab7;
}

.bingo-num{
    width: 48px;
    height: 48px;
    color: white;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
}

.bingo-card{
    margin-top: 50px;
    position: relative;
    width: 320px;
    height: 430px;
}