

#modal-component {
    border: 3px solid #262626;
    border-radius: 1px;
    background-color: #1a1a1a;
}
.new-card-button{
    margin-top: 30px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: #76c1b0;
    color: white;
}