.new-card-button{
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #76c1b0;
    color: white;
}

.lists{
    
    width: 250px;
    margin: auto;
    margin-top: 10px;
    font-size: 13px;
}

.list{
    height: 21px;
}

.checkbox{
    margin-right: 10px;
}

.mission{
    color: black;
}