<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<section class="section">
  <div class="slot" [ngStyle]="style">
   <div class="wheel js-slot_wheel">
    <div class="wheelInner" id="js-slot_wheel_inner">
     <!-- <div class="wheelPic" [ngStyle]="style"> -->
     <div >
      <div>aaa</div>
      <div>bbb</div>
      <div>ccc</div>
      <div>ddd</div>
      <div>aaa</div>
      <div>bbb</div>
      <div>ccc</div>
      <div>ddd</div>
      <div>aaa</div>
      <div>bbb</div>
      <div>ccc</div>
      <div>ddd</div>
     </div>
    </div>
   </div>
 
   <div class="btns">
    <div class="btn js-slot_startbtn" (click)="onClickStart()"><span>START</span></div>
    <div class="btn js-slot_stopbtn"><span>STOP</span></div>
   </div>
  </div>
 </section>
</ion-content>