.button-sample {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: 1 0 30%;
    margin: 16px 0;
}

.box {
    margin-top: 100px;
    height: 72px;
    overflow: hidden;
    background-color: bisque;
    position: relative;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.container{
    position: absolute;
    text-align: center;
}
.button{
    border-radius: 5px;
    background-color: #76c1b0;
    color: white;
}
.buttons{
    margin-top: 20px;
    width: 200px;
    justify-content: space-between;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}
.mission{
    //margin-left: auto;
    //margin-right: auto;
    text-align: center;
    width: 200px;
}
.mission-line{
    text-align: center;
}

.pie {
	position: relative;
	
	width: 150px;
	height: 150px;
	background-image: conic-gradient(#52abd5 0% 25%, #eae543 25% 50%, #82be7e 50% 75%, #f390dc 75% 100%);
	border-radius: 50%;
}

.north{
    position: absolute;
    top: 50px;
    left: 50px;
}
.east{
    position: absolute;
    top: 50px;
    left: 80px;
}
.south{
    position: absolute;
    top: 80px;
    left: 80px;
}
.west{
    position: absolute;
    top: 80px;
    left: 50px;
}

.pie-box{
    margin-right: auto;
	margin-left: auto;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    color: rgb(12, 21, 30);
}