.button-sample {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: 1 0 30%;
    margin: 16px 0;
}

.box {
    margin-top: 100px;
    height: 72px;
    overflow: hidden;
    background-color: bisque;
    position: relative;
}
.container{
    position: absolute;
}

